@keyframes moveUpButton {
  0% {
    opacity: 0;
    transform: translatey(30px);
  }

  100% {
    opacity: 1;
    transform: translatey(0);
  }
}

.btn {
  padding: 15px 40px;
  text-transform: uppercase;
  transition: all 0.2s;
  border-radius: 100px;
  position: relative;
  transition: all .2;

}

.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 40px;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(5px);
  box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scalex(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated{
  animation: moveUpButton .5s ease-in-out .1s backwards;
}