/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/ 
:root{
  --lightGreen: #7ed56f;
  --mediumGreen: #55c57a;
  --darkGreen: #28b485;

  --gradientLightGreen: #7ed56fcd;
  --gradientDarkGreen: #28b485bd;
}


* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
font-family: 'Lato', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.7;
color: #777;
padding: 30px;
}
